<section class="container-fluid detail">
  <div class="row">
    <div class="col-sm-3 col-sm-push-9"><a class="btn btn-default btn-back" href="#feed">&larr; Back</a></div>
    <div class="col-sm-9 col-sm-pull-3"><h1><a ng-href="{{photo.link}}">{{photo.title}}</a></h1></div>
  </div>

  <div class="row info">
    <div class="col-sm-12">
      <a ng-href="https://www.flickr.com/people/{{photo.author_id}}/">Photo author</a> | 
      <span published-date="photo.published"></span>  
    </div>
  </div>

  <div class="row body">
    <div class="col-xs-5 col-sm-3 col-lg-2"><img width="100%" ng-src="{{photo.media.m}}" /></div>
    <div class="col-xs-7 col-sm-9 col-lg-10">
      <p>{{photo.title}}</p>
      Tags: <tag-links tags="photo.tags"></tag-links>
      <br>
    </div>
  </div>
</section>


